<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col-md-12 mb-4 d-flex justify-content-center align-items-center">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h1>Contacto</h1>
            <div class="contacto-info">
              <p><strong>Correo Electrónico:</strong> Correo</p>
              <p><strong>Teléfono:</strong> +1234567890</p>
              <p><strong>Dirección:</strong> Calle Falsa 123, Springfield</p>
            </div>
            <img src="assets/img/goku.webp" alt="Neo de Mayor" width="500px">
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>


  
