{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
 <h1>Tu usuario</h1>
 <p>{{app.user.username}}</p>
 <a href="{{path('app_logout')}}">Cerrar sesion</a>
{% endblock %}
