{% extends 'base.html.twig' %}

{% block title %}Edit RolesUsuario{% endblock %}

{% block body %}
    <h1>Edit RolesUsuario</h1>

    {{ include('roles_usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_roles_usuario_index') }}">back to list</a>

    {{ include('roles_usuario/_delete_form.html.twig') }}
{% endblock %}
