{% extends 'base.html.twig' %}

{% block title %}New RolesUsuario{% endblock %}

{% block body %}
    <h1>Create new RolesUsuario</h1>

    {{ include('roles_usuario/_form.html.twig') }}

    <a href="{{ path('app_roles_usuario_index') }}">back to list</a>
{% endblock %}
