<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <p>Software utilizado:</p>
              <ul class="list-unstyled text-left">
                <li>Symfony 7</li>
                <li>Angular 17</li>
                <li>Visual Studio Code</li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-4">
                <p>Equipo de desarollo:</p>
                <ul class="list-unstyled text-left">
                  <li>Mario Villegas</li>
                  <li>Neo Armada</li>
                  <li>Chat GPT</li>
                  <li>Microsoft Compilot</li>
                  <li>Latte And Code</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body text-center">
              <div class="mb-4">
                <p>Patrocinadores:</p>
                <ul class="list-unstyled text-left">
                  <li>Carlos Infante</li>
                </ul>
                <p>Este proyecto ha sido producido gracias a la gran donacion de Carlos Infante Carranza</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




  
