<main class="content py-5">
    <div class="container">
      <section class="acercade">
        <h1>Acerca De</h1>
        <p>Bienvenido a nuestro proyecto dedicado a los juegos de los años 80. En este sitio, exploramos la nostalgia y la diversión de los juegos clásicos que definieron una era. Desde los arcade hasta las consolas domésticas, estamos aquí para celebrar y recordar los juegos que cautivaron a una generación.</p>
        <p>¡Únete a nosotros en un viaje lleno de recuerdos, diversión y emoción retro!</p>
      </section>
    </div>
</main>
  
