 <a href="{{ path('app_juego_index') }}">Juego</a> <br>
 <a href="{{ path('app_genero_index') }}">Genero</a> <br>
 <a href="{{ path('app_usuario_index') }}">Usuario</a> <br>
  <a href="{{ path('app_roles_usuario_index') }}">Roles Usuario</a> <br>
